<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'load_charts/style.css' %}" />
	<title>Average Load Monitoring Web Application</title>

	<script src="{% static "js/jquery.js" %}"></script>
</head>




<body>
	<h1>Average Load Monitoring Web Application <p class="time">{{time}}</p></h1>
	<svg class='chart'></svg>
	<div id="right-container">
		<ul id="alert-head">
			<li>History</li>
		</ul>
		<ul id="alert-list">
		</ul>
	</div>
	<div id="display-area"></div>

</body>


<script type="text/javascript">
	getValues();

	$(document).ready(function(){
		setInterval("getValues();", 10000);
	});
	function getValues() {
		var json = $.get("/load_charts/charts-get/", function (data){ drawChart(data); });
	};

	function drawChart(values) {

		d3.select(".chart").selectAll("*").remove();

		var data = JSON.parse(values);

		updateTable(data);

		var height = 300,
			width = 610,
			margin = {top: 20, right: 10, bottom: 10, left: 50};

		var barWidth = 12;

		var col = d3.scale.linear()
			.domain([0, 255])
			.range([height, 0]);

		var x = d3.scale.ordinal()
		    .domain([0, data.length])
			.range([0, width]);

		var y = d3.scale.linear()
			.domain([d3.min(data, function(d) { return d.value; })*0.95, d3.max(data, function(d) { return d.value; })*1.05])
			.range([height, 0]);

		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom");

		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

		var chart = d3.select(".chart")
		    .attr("width", width+margin.left+margin.right)
		    .attr("height", height+margin.top+margin.bottom);

		chart.append("g")
			.attr("class", "y axis")
			.attr("transform", "translate("+margin.left+",0)")
			.call(yAxis)
		   .append("text")
		    .attr("transform", "rotate(-90)")
		    .attr("y", -45)
		    .attr("dy", ".71em")
		    .style("text-anchor", "end")
		    .text("Load Average");

		chart.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate("+margin.left+"," + height + ")")
			.call(xAxis);

		chart.selectAll(".bar")
		    .data(data)
		  .enter().append("rect")
		  	.attr("fill", function(d){ return "rgb("+d3.round(col(y(d.value)))+10+","+(255-d3.round(col(y(d.value))))+",0)";})
		  	.attr("class", "bar")
			.attr("x", function(d, i) { return width - i*barWidth+margin.left-14; })
		  	.attr("width", barWidth-4)
			.attr("y", function(d) { return y(d.value); })
			.on("mouseover", function(d){ 
				$("#display-area").append('<p class="viewer"> <b>Time:</b> '+d.date.substr(d.date.length - 8)+'      <b>Load average :</b> '+d.value+'</p>'); })
			.on("mouseout", function(){ $(".viewer").remove(); })
		    .attr("height", function(d) {return height - y(d.value); });

	};

	function updateTable(values) {
		$("#alert-list .temp").remove(); 
		for (var pos in values){
			var currValue = values[pos];
			var load = currValue.value;
			if (load > 1.5){
				var trClass = " alert"
			}
			else{
				var trClass = " alert-recover";
			}
			var time = currValue.date.substr(currValue.date.length - 8);
			$('#alert-list').append('<li class="temp '+trClass+'">High load generated an alert - load : <b>'+load+'</b>, triggered at '+time+'</li>');
		}
	}
</script>
