body {
	width : 950px;
	height:500px;
	padding: 30px;
	margin-top: 50px;
	margin-left:auto;
	margin-right: auto;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #bbb;	
	border-radius: 3px;
}

h1{
	width:100%;
	border-bottom: 1px solid #bbb;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 70px;
	padding-bottom: 20px;
}
.viewer{
	float:left;
}

table {
	float: right;
	width: 300px;
	height:200px;

	line-height: 20px;
	max-height: 20px;
	border-spacing: 0px;

}
#table-head{
	border-top: 1px solid #bbb; 
	font-size: 15px;
}

#table-container{
	font-size: 14px;
	width: 300px;
	height:270px;
	overflow:scroll;
}
tr {
}

th, td {
	margin-top: 10px;
	padding:5px;
	width:300px;
	vertical-align: middle;
	text-align: right;
	line-height:20px;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-radius: 5px;
}
.alert td{
	color: #79A888;
	border: 1px solid #79A888;
	background-color: #BDFCC9;
	font-weight: bold;
}
.correct td{
	color: #B22222;
	border: 1px solid #B22222;
	background-color: #EEB4B4;


}

.first-column {
	text-align: left;
	width: 150px;
}

.bar {
 	
}

.bar:hover {
 	fill: rgb(240,100,100);
}

.chart {
	float: left;
}
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
