body {
	width : 1130px;
	height:500px;
	padding: 30px;
	margin-top: 50px;
	margin-left:auto;
	margin-right: auto;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #bbb;	
	border-radius: 3px;
}

h1{
	width:100%;
	border-bottom: 1px solid #bbb;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

h1 #top-right-clock{
	float:right;
	margin-top: 0px;
}

#welcome-message{
	font-size: 13px;
	margin-bottom: 40px;
}

#display-area{
	width:100%;
	float:left;
}

.viewer{
	float:left;
	margin-left: 50px;
	font-size: 16px;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#right-container {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width : 440px;
	float:right;
}

.list-head{
	margin-bottom: 0px;
	width: 100%;
	border-bottom: 1px solid #bbb; 
	padding:0;
	padding-bottom: 2px;
	font-size: 17px;
}
.list-head li {
	padding-left:4px;
	margin-top: 0;
	padding-top: 0;
}

#alert-list{
	width:100%;
	font-size: 14px;
	height:180px;
	overflow:scroll;
	padding-left: 0;
}
.initialMessage {
	padding-left: 4px;
}

#stats {
	width:100%;
	font-size: 14px;
	height:60px;
	padding-left: 0;
}

#stats li {
	padding-left: 4px;
}
ul {
	margin:0;
	list-style-type: none;
	float:right;
}

ul .error {
	color: #111;
	border: 1px solid #eaabab;
	background-color: #fff4f4;
	font-weight: bold;
}
ul .recover {
	font-weight: normal;
	color: #111;
	border: 1px solid #baeaab;
	background-color: #f2fff2;
}

ul .old {
	font-weight: normal;
	color: #999;
	border: 1px solid #cecece;
	background-color: #fefefe;
}

li {
	border-radius: 4px;
	padding: 9px;
	margin-top: 8px;
}

.bar {
 	
}

.bar:hover {
 	fill: #2c95d6;
}

.chart {
	float: left;
}
.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
